RewriteEngine On
RewriteRule ^shop$ shop.php [L]

RewriteEngine On
RewriteRule ^search$ search.php [L]

RewriteEngine On
RewriteRule ^games$ all_games.php [L]

RewriteEngine On
RewriteRule ^admin$ admin.php [L]

RewriteEngine On
RewriteRule ^login$ login_admin.php [L]