:root{
    --theme:#b90006;
}
body{
    background-image:linear-gradient(white,#d9d9d9,#ECD1D1,#ffc9c9);
    background-repeat: no-repeat;

  }
.bg-theme{background-color:var(--theme) !important;}
.nav-spacing{margin-left:13% !important;}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
#search-button{
    background-color: orange;
}
.dropdown-menu .dropdown-item:hover {
    background-color: black;
    color: white;
  }  
/*Shop*/
.thumbnail-image{
    height:60vh;
    width:100%;
    background-image:
    linear-gradient(transparent 50%,white),
    url('/web-top-up/Images/mobile-legend-thumbnail.png') !important;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    position:absolute;
}

/*Home*/
#poster{
    display: flex;
    justify-content: center;
    width:100%;
    max-height:75vh;
}
#poster img{
    width:75%;
}

@media(max-width:560px){
    #poster img{
        width:90%;
    }
}

.games-list{
    width:80%;
    margin:0 auto;
    display:flex;
    align-items: center;
}
.category{font-family: "Slackey"}

.container-fluid .games-container{
    width:80%;
    min-height:850px;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:25px;
    grid-auto-flow:row;
}
.container-fluid .games-container .games{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    grid-row:span 1;
    grid-column:span 1;
    border-radius:20px;
}

@media(max-width:1400px){
    .container-fluid .games-container{
        min-height:750px;
    }
}

@media(max-width:1200px){
    .container-fluid .games-container{
        min-height:700px;
    }
}

@media(max-width:1100px){
    .container-fluid .games-container{
        min-height:850px;
        column-gap:20px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:730px){
    .container-fluid .games-container{
        min-height:700px;
        row-gap:25px;
        column-gap:30px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:580px){
    .container-fluid .games-container{
        width:90%;
        min-height:600px;
        row-gap:25px;
        column-gap:10px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .games-list{
        width:90%;
        margin:0 auto;
        display:flex;
        align-items: center;
    }
}

@media (max-width:460px){
    .container-fluid .games-container{
        width:100%;
        min-height:600px;
        row-gap:25px;
        column-gap:10px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.container-fluid .games-container .games a .redirect{
    width:100%;
    height:100%;
}

.other-games{
    background-color: var(--theme);
    width:90%;
    min-height:700px;
    margin:25px auto 0 auto; /*top right bottom left*/
}

.thumbnail-image .games-description{
    margin-top:10%;
    min-height:300px;
    width:35%;
    border:2px solid black;
}

.thumbnail-image .games-product{
    margin-top:10%;
    background-color:var(--theme);
    min-height:80vh;
    width:65%;
    border:2px solid black;
}

.thumbnail-image .games-product .catalogue-container{
    min-height:100px;
    margin:0 auto;
    width:95%;
    display:flex;
    justify-content: space-around;
}

.thumbnail-image .games-product .catalogue-container .catalogue{
    display:flex;
    align-items: center;;
    width:32%;
    height:100%;
    background-color: #f87c7c;
}